<div class="row">
  <div class="col-4">
    <ul class="list-group">
      <li class="list-group-item active">Modules</li>
      <li [ngClass]="{'active': module.id == moduleId}" *ngFor="let module of modules"
          class="list-group-item btn-info">
        <a routerLink="/course/{{courseId}}/module/{{module.id}}" class="text-dark">
          {{module.title}}</a>

      </li>
    </ul>
  </div>
  <div class="col-8">
    <div>
      <app-lesson-tabs></app-lesson-tabs>
    </div>
  </div>
</div>
