<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
      crossorigin="anonymous">
<div class="container">
  <h1 id="title">Sections</h1>
  <table class="table table-hover">
    <thead>
    <tr id ="wbdv-table-heading">
      <th>Name</th>
      <th>MaxSeats</th>
      <th>Remaining</th>
      <th></th>
    </tr>
    <tr >
      <td><input [(ngModel)]="sectionName" class="form-control" value="{{course.title}} Section"
                 placeholder="Name of Section" /></td>
      <td><input [(ngModel)]="maxSeats"  class="form-control"
                 placeholder="Maximum Seats" /></td>
      <td><input [(ngModel)]="seats"  class="form-control"
                 placeholder="Remaining Seats" disabled/></td>
      <td><span class="float-right" style="white-space: nowrap">
							 <i class="fa-2x fa fa-plus "  (click)="createSection(sectionName,maxSeats)"></i>
              <i class="fa-2x fa fa-check wbdv-update" (click)="updateSection(sectionName,maxSeats)"></i>
					</span></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let section of sections"  >
      <td > {{section.name}}</td>
      <td > {{section.maxSeats}} </td>
      <td > {{section.seats}} </td>
      <td ><span class="float-right"> <i
        class="fa-2x fa fa-minus-circle " (click)="deleteSection(section._id)" ></i>
        <i
          class="fa-2x fa fa-edit"  (click)="editSection(section)"></i>
					</span></td>
    </tr>

    </tbody>
    <tfoot></tfoot>
  </table>
</div>
<div>
  <a (click)="logout()" class="btn btn-lg btn-warning margin"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a> &nbsp;
  <a routerLink="/admin-prof" class="btn btn-lg btn-dark margin"><i class="fa fa-user"></i>&nbsp;View Profile</a> &nbsp;
</div>
