<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
      crossorigin="anonymous">
<div class="container">

    <a class="btn btn-lg btn-dark margin" routerLink="/home"><i class="fas fa-home"></i>&nbsp;</a>

  <div class="row">
    <div class="col-md-10">
      <div></div>
      <h2 class="loginHeader"> Profile </h2>
      <div style="text-align: right">
        <a class="btn btn-danger" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a>
      </div>
      <div>
        <label for="username" class="fields">Username</label>
        <input [(ngModel)]="username" placeholder="Username" id="name" name="name" #name="ngModel" class="form-control form-control-lg"
               required/>
      </div>
      <div *ngIf="name.invalid" class="alert alert-danger">

        <div *ngIf="name.errors.required">
          Username is required.
        </div>

      </div>
      <div>
        <label for="firstName" class="fields">Firstname</label>
        <input [(ngModel)]="firstName" placeholder="First Name" id="fname" name="fname" #fname="ngModel" required class="form-control form-control-lg" />
      </div>
      <div *ngIf="fname.invalid" class="alert alert-danger">
        <div *ngIf="fname.errors.required">
          Firstname is required.
        </div>

      </div>
      <div>
        <label for="lastName" class="fields">LastName</label>
        <input [(ngModel)]="lastName" placeholder="Last Name" id="lname" name="lname" #lname="ngModel" required class="form-control form-control-lg" />
        <div *ngIf="lname.invalid" class="alert alert-danger">
          <div *ngIf="lname.errors.required">
            Lastname is required.
          </div>

        </div>
      </div>
      <div>
        <label for="email" class="fields">Email</label>
        <input [(ngModel)]="email" placeholder="email@abc.com" id="emails" name="emails" #emails="ngModel" required class="form-control form-control-lg" />

      </div>
      <div *ngIf="emails.invalid" class="alert alert-danger">
        <div *ngIf="emails.errors.required">
          Email is required.
        </div>

      </div>

      <p></p>
      <div>
        <button (click)="update()" class="btn btn-lg btn-primary btn-block">
          <i class="fa fa-check wbdv-update"></i>&nbsp;Update
        </button>
      </div>
    </div>
  </div>
</div>
<p></p>
<h2>Sections Enrolled ({{sections.length}})</h2>

<div class="row">
  <div *ngFor="let enrollment of sections" class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{enrollment.section.name}}</h5>
        <p> Grade: {{enrollment.grade}} </p>

        <button (click)="unroll(enrollment.section)"
                class="btn btn-primary">Unroll</button>

      </div>
    </div>
  </div>
</div>
<br>

